{% extends "blog/master.html" %}
{% block title %}Блог Django Girls{% endblock %}
{% block extra_title %}Блог Django Girls{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            {% for post in posts %}
                <article class="post">
                    <time class="date">
                        {{ post.published_date }}
                    </time>
                    <h2><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock content %}